   #tabletabs {
    width:700px;
    margin: 50px 50px 50px 50px;
  }

  /* ------------------------------------------------- */

  #tabs {
    overflow: auto;
   	width:750px;
	
    margin: 0;
    padding: 20;
    list-style: none;
  }

  #tabs li {
    float: left;
    /*margin: 0px -15px 0 0;*/
  }

  #tabs a {
    float: left;
    position: relative;
    padding: 0px 10px ;
    height: 0px;
    line-height: 30px;
    text-transform: uppercase;
    text-decoration: none;
	font-size: 14px;     
   	border-right: 30px solid transparent;
    border-bottom: 30px solid #8D8D8D;
    border-bottom-color: #8D8D8D;
	color:#FFFFFF;
   	opacity: .7;
    filter: alpha(opacity=50);

  }

  #tabs a:hover,
  #tabs a:focus {
	  
    border-bottom-color: #737373;
	color: #FFFFFF;    
    opacity: 0.8;
    filter: alpha(opacity=80);
  }

  #tabs a:focus {
    outline: 0;
  }

  #tabs #current {
    z-index: 3;
    border-bottom-color: #737373;
    opacity: 1;
    filter: alpha(opacity=100);      
	color:#FFFFFF;
  }

  /* ----------- */
  #content {
      background: #fff;
      border-top: 1px solid #3d3d3d;
      padding: 15px;
	  /*padding-right: 50px;  */
	  width: 750px;
	  height:auto;
      /*height: 220px;*/
	  FONT: 13px Tahoma, Geneva, sans-serif; COLOR: #666666;
  }

  #content h2,
  #content h3,
  #content p {
      margin: 0 0 15px 0;
  }  
 
  #content h1{
FONT: 16px Tahoma, Geneva, sans-serif;
color: #666666;
margin: 28px 0 10px;
font-weight: bold;
}

 
.text_taps {
	FONT: 12px Tahoma, Geneva, sans-serif; COLOR: #8ed3c8; TEXT-DECORATION: bold;
}

.txtpadding{

	FONT: 13px Tahoma, Geneva, sans-serif; COLOR: #666666; text-indent:25px;

}

.bgcsr{
	background-color:#F7F7F7;
}

li{
	padding-bottom:8px;
}