.inner {
    background-color: #fff;
    /*padding: 25px 25px 45px 25px;*/
}
#sub_name {
    pointer-events: none;
}
.sub_menu_name {
    line-height: 30px;
    font-size: 22px;
    color: #fbfbfb;
    padding: 20px 0px 20px 25px;
    background-color: #e73089;
}
.sub_menu_name_arrow, .sub_menu_name_end, .sub_menu_name_close {
    display: none;
}
.sub_menu_name_arrow {
    position: absolute;
    z-index: 1;
    width: 70px;
    height: 70px;
    left: 0px;
    top: 0px;
    background: url(../images/bt_arrow.png) no-repeat center #ffffff;
    background-size: 100% 100%;
}
.sub_menu_name_end {
    position: absolute;
    z-index: 1;
    width: 55px;
    height: 55px;
    right: 12px;
    top: 8px;
    background: url(../images/bt_down.png) no-repeat center #e73089;
    background-size: 100% 100%;
}
.sub_menu_name_close {
    position: absolute;
    z-index: 1;
    width: 45px;
    height: 45px;
    right: 18px;
    top: -57px;
    background: url(../images/bt_close.png) no-repeat center #e73089;
    background-size: 100% 100%;
    cursor: pointer;
}
.IR-head-text-menu {
    color: #ffffff;
    font-family: 'db_helvethaica_x73_bdext';
    text-transform: uppercase;
    font-size: 29px;
}
.page_content_detail {
    line-height: 24px;
    font-size: 16px;
    color: #3B3B3B;
    margin-top: 80px;
}
 #menu_bt_wrap {
    margin-bottom: 90px;
}
#menu_bt_wrap ul {
    margin-left: 20px;
    margin-top: -10px;
    /* margin-bottom: 10px; */
}
.jquery-accordion-menu ul {
    margin: 0 !important;
    /* padding: 0 !important; */
    list-style: none;
}
#menu_bt_wrap li {
    font-size: 15px;
    padding: 0px 0px;
    color: #666;
    list-style-type: none;
    list-style-type: unset;
}
.jquery-accordion-menu ul ul.submenu li {
    clear: both;
    width: 100%;
    list-style: disc;
    padding: 5px 0px 5px 0px !important;
}
.sub_menu_bt:hover, .sub_menu_bt.current {
    color: #DC1B16;
    cursor: pointer;
    transition: 0.25s;
}
.jquery-accordion-menu>ul>li.active>div, .jquery-accordion-menu>ul>li:hover>div {
    color: #fff;
    background: #3b424d;
}
.white.jquery-accordion-menu .jquery-accordion-menu-footer, .white.jquery-accordion-menu .jquery-accordion-menu-header, .white.jquery-accordion-menu ul li div {
    background: #fff;
    color: #3a3a3a;
}
.jquery-accordion-menu .submenu-indicator {
    float: left;
    line-height: 19px;
    width: 0;
    height: 0;
    margin-bottom: 15px;
    overflow: hidden;
    border-style: solid;
    border-width: 7px;
    border-bottom: 7px solid transparent;
    border-right: none;
    border-left-color: initial;
    border-top-color: transparent;
    margin-top: 4px;
    margin-right: 15px;
    margin-left: 2px;
    -o-transition: transform .3s linear;
    -moz-transition: transform .3s linear;
    -webkit-transition: transform .3s linear;
    -ms-transition: transform .3s linear;
    font-family: 'db_helvethaica_x73_bdext';
}
.jquery-accordion-menu .submenu-indicator-minus>.submenu-indicator {
    overflow: hidden;
    border-bottom: none;
    border-right: 7px solid transparent;
    border-left-color: transparent;
    border-top-color: initial;
    margin-top: 8px;
    margin-right: 8px;
}
.sub_menu_bt {
    font-size: 21px;
    font-weight: bold;
    outline: none;
    font-family: 'db_helvethaica_x43_liext';
    /*line-height: 24px;*/
    color: #3B3B3B;
    padding: 10px 0px 10px 0;
    /*border-top: solid 1px #EFEFEF;*/
}
#menu_bt_wrap li:hover .sub_menu_bt {
    color: #e73089;
    transition: ease 0.5s;
}
.sub_menu_bt a {
    color: #3a3a3a;
    font-size: 21px;
    font-weight: bold;
    outline: none;
    margin-left: 0;
    font-family: 'db_helvethaica_x43_liext';
}
#menu_bt_wrap li:hover .sub_menu_bt a {
    color: #e73089;
    transition: ease 0.3s;
}
#menu_bt_wrap ul {
    padding-left: 0px;
}
#menu_bt_wrap ul ul {
    padding-left: 24px;
}
.jquery-accordion-menu ul ul.submenu, .jquery-accordion-menu ul ul.submenu li ul.submenu {
    width: 100%;
    display: none;
    position: relative;
    left: 0px;
    padding-left: 74px;
    padding-top: 0px;
    padding-bottom: 10px;
    /* background-color: #f8faf9; */
}
.jquery-accordion-menu ul {
    margin: 0 !important;
    /* padding: 0 !important; */
    list-style: none;
    cursor: pointer;
}
.white.jquery-accordion-menu ul ul.submenu li a {
    color: #3a3a3a;
}
.white.jquery-accordion-menu ul ul.submenu li:hover a {
    color: #e73089;
    transition: ease 0.3s;
}
.jquery-accordion-menu ul ul.submenu li a {
    width: 100%;
    font-size: 20px;
    font-weight: 300;
    outline: none;
    font-family: 'db_helvethaica_x43_liext';
    /*line-height: 24px;*/
    color: #3B3B3B;
    padding: 10px 0px;
}


/*-----------------------------------------------------------------------------------*/
/* Responsive
/*-----------------------------------------------------------------------------------*/
@media screen and (max-width: 1200px) {
    .sub_menu_name {
        line-height: 30px;
        font-size: 20px;
        padding: 20px 0px 20px 10px;
    }
    .jquery-accordion-menu .submenu-indicator {
        margin-right: 13px;
        margin-top: 3px;
    }
    .jquery-accordion-menu .submenu-indicator-minus>.submenu-indicator {
        margin-top: 8px;
        margin-right: 6px;
    }
}

@media screen and (max-width: 991px) {
    #sub_name {
        pointer-events: all;
        margin-top: 55px;
    }
    .page_content_detail .side_left .inner {
        background-color: none;
        padding: 0px;
        background-color: unset;
    }
    .sub_menu_name {
        line-height: 30px;
        font-size: 22px;
        color: #fff;
        padding: 20px 0px;
        padding-left: 20px;
        background-color: #e73089;
        position: relative;
        cursor: pointer;
    }
    .sub_menu_name_arrow, .sub_menu_name_end, .sub_menu_name_close {
        display: block;
    }
    .IR-head-text-menu {
        color: #ffffff;
    }
    #menu_bt_wrap {
        position: relative;
        display: none;
        padding: 20px 0 20px 0;
        margin-bottom: 0px;
    }
    #menu_bt_wrap ul {
        margin-left: 35px;
    }
    .sub_menu_bt {
        padding: 10px 20px;
    }
    #menu_bt_wrap ul ul {
        padding-left: 44px;
    }
}

@media screen and (max-width: 400px) {
    .sub_menu_name {
        line-height: 30px;
        font-size: 18px;
        padding: 15px 0px;
        padding-left: 15px;
    }
    .sub_menu_name_arrow, .sub_menu_name_end, .sub_menu_name_close {
        width: 45px;
        height: 45px;
    }
    .sub_menu_name_close {
        top: -50px;
        right: 13px;
        width: 40px;
        height: 40px;
    }
}

@media screen and (min-width: 991px) {
    #menu_bt_wrap {
        display: block !important;
        padding: 15px 15px 30px 15px;
    }
}
@media screen and (min-width: 1199px) {
    #menu_bt_wrap {
        display: block !important;
        padding: 15px 15px 30px 25px;
    }
}























