@font-face {
    font-family: 'db_helvethaica_x73_bdext';
    src: url('font/db_helvethaica_x_bd_ext_v3.2-webfont.eot');
    src: url('font/db_helvethaica_x_bd_ext_v3.2-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/db_helvethaica_x_bd_ext_v3.2-webfont.woff2') format('woff2'),
         url('font/db_helvethaica_x_bd_ext_v3.2-webfont.woff') format('woff'),
         url('font/db_helvethaica_x_bd_ext_v3.2-webfont.ttf') format('truetype'),
         url('font/db_helvethaica_x_bd_ext_v3.2-webfont.svg#db_helvethaica_x73_bdext') format('svg');
    font-weight: normal;
    font-style: normal;
  -webkit-font-smoothing:subpixel-antialiased!important; 
  -webkit-font-smoothing: antialiased; 
  -moz-font-smoothing: antialiased; font-smoothing: antialiased; 
  _font-smoothing: antialiased;
}

@font-face {
    font-family: 'db_helvethaica_x53_ext';
    src: url('font/db_helvethaica_x_ext_v3.2-webfont.eot');
    src: url('font/db_helvethaica_x_ext_v3.2-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/db_helvethaica_x_ext_v3.2-webfont.woff2') format('woff2'),
         url('font/db_helvethaica_x_ext_v3.2-webfont.woff') format('woff'),
         url('font/db_helvethaica_x_ext_v3.2-webfont.ttf') format('truetype'),
         url('font/db_helvethaica_x_ext_v3.2-webfont.svg#db_helvethaica_x53_ext') format('svg');
    font-weight: normal;
    font-style: normal;
  -webkit-font-smoothing:subpixel-antialiased!important; 
  -webkit-font-smoothing: antialiased; 
  -moz-font-smoothing: antialiased; font-smoothing: antialiased; 
  _font-smoothing: antialiased;
}


@font-face {
    font-family: 'db_helvethaica_x43_liext';
    src: url('font/db_helvethaica_x_li_ext_v3.2-webfont.eot');
    src: url('font/db_helvethaica_x_li_ext_v3.2-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/db_helvethaica_x_li_ext_v3.2-webfont.woff2') format('woff2'),
         url('font/db_helvethaica_x_li_ext_v3.2-webfont.woff') format('woff'),
         url('font/db_helvethaica_x_li_ext_v3.2-webfont.ttf') format('truetype'),
         url('font/db_helvethaica_x_li_ext_v3.2-webfont.svg#db_helvethaica_x43_liext') format('svg');
    font-weight: normal;
    font-style: normal;
  -webkit-font-smoothing:subpixel-antialiased!important; 
  -webkit-font-smoothing: antialiased; 
  -moz-font-smoothing: antialiased; font-smoothing: antialiased; 
  _font-smoothing: antialiased;
}

@font-face {
    font-family: 'db_helvethaica_x55_regular';
    src: url('font/db_helvethaica_x_v3.2-webfont.eot');
    src: url('font/db_helvethaica_x_v3.2-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/db_helvethaica_x_v3.2-webfont.woff2') format('woff2'),
         url('font/db_helvethaica_x_v3.2-webfont.woff') format('woff'),
         url('font/db_helvethaica_x_v3.2-webfont.ttf') format('truetype'),
         url('font/db_helvethaica_x_v3.2-webfont.svg#db_helvethaica_x55_regular') format('svg');
    font-weight: normal;
    font-style: normal;
  -webkit-font-smoothing:subpixel-antialiased!important; 
  -webkit-font-smoothing: antialiased; 
  -moz-font-smoothing: antialiased; font-smoothing: antialiased; 
  _font-smoothing: antialiased;
}

@font-face {
    font-family: 'db_helvethaica_x75_bd';
    src: url('font/db_helvethaica_x_bd_v3.2-webfont.eot');
    src: url('font/db_helvethaica_x_bd_v3.2-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/db_helvethaica_x_bd_v3.2-webfont.woff2') format('woff2'),
         url('font/db_helvethaica_x_bd_v3.2-webfont.woff') format('woff'),
         url('font/db_helvethaica_x_bd_v3.2-webfont.ttf') format('truetype'),
         url('font/db_helvethaica_x_bd_v3.2-webfont.svg#db_helvethaica_x75_bd') format('svg');
    font-weight: normal;
    font-style: normal;
  -webkit-font-smoothing:subpixel-antialiased!important; 
  -webkit-font-smoothing: antialiased; 
  -moz-font-smoothing: antialiased; font-smoothing: antialiased; 
  _font-smoothing: antialiased;
}


@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('font/glyphicons-halflings-regular.eot');
  src: url('font/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url(./font/glyphicons-halflings-regular.woff2) format('woff2'), url(./font/glyphicons-halflings-regular.woff) format('woff'), url(./font/glyphicons-halflings-regular.ttf) format('truetype'), url(./font/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg')
}