@charset "utf-8";
body {
    background: url(../images/body-background.jpg);
    background-position: center center;
    background-repeat: repeat;
    background-size: auto;
    background-attachment: fixed;
}
/*body {
    background: url(../img/body-background.jpg);
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
}*/
a:hover {
    text-decoration: none;
    text-decoration: unset;
}
.pad0 {
    padding: 0;
}
.bxinner-headbx {
    background-color: #ffffff;
}
.head {
    font-family: 'db_helvethaica_x73_bdext';
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 1px;
    color: #303030;
    text-align: center;
}
#navmb div {
    font-size: 20px;
}
.mmcclink a {
    font-size: 20px;
}
.mpane .mmcc {
    font-size: 20px;
}
.bxnavsub > .tb a > div {
    font-size: 18px;
}
.navprojbx-bxh {
    font-size: 18px;
}
.navproitem > .tb > .c2 > .bxtxt {
    font-size: 18px;
}

/*-----------------------------------------------------------------------------------*/
/* Banner
/*-----------------------------------------------------------------------------------*/
.cover_BannerText {
    padding: 0 0px 0 51.5%;
}
.cover_BannerText1 {
    padding: 0px 15px;
}
.cover_BannerText2 {
    padding: 0px 15px;
}
.cover_BannerText1 p:nth-child(1) {
    font-family: 'db_helvethaica_x55_regular';
    font-size: 42px;
    color: #000000;
    margin-bottom: 5px;
}
.cover_BannerText1 p:nth-child(2) {
    font-family: 'db_helvethaica_x73_bdext';
    font-size: 66px;
    color: #000000;
    margin-bottom: 34px;
    line-height: 52px;
    white-space: nowrap;
}
.cover_BannerText2 p {
    font-size: 20.5px;
    color: #000000;
}

/*-----------------------------------------------------------------------------------*/
/* Menu
/*-----------------------------------------------------------------------------------*/
/*.main-ir-menu {
    display: flex;
}
.menu-ir {
    width: 100%;
    margin-top: 55px;
    border-bottom: 1px #bebebe solid;
    padding: 0 15px; 
    background: #fdfdfd;
}
.ir-shotcut-btn {
    font-family: 'db_helvethaica_x73_bdext';
    font-size: 20px;
    font-weight: bold;
    display: inline-flex;
    margin: 0;
    float: right;
}
ul.ir-shotcut-btn {
    padding-left: 44.5%;
}
ul.ir-shotcut-btn-th {
    padding-left: 39%;
}
ul.ir-shotcut-btn a {
    text-decoration: none;
    color: #000000;
}
ul.ir-shotcut-btn li {
    list-style: none !important;
    padding: 10px 0 10px 20px;
    margin: 18px 13px;
    border-left: 1px #5d5349 solid;
}
ul.ir-shotcut-btn li:hover {
    background: #fdfdfd;
    color: #5a5a5a;
    transition: all 0.2s linear;
}
.ir-shotcut-btn li img {

}
.ir-shotcut-btn li span {
    margin-left: 8px;
}
.ir-shotcut-btn .hidden-name {
    display: inline-flex;
}
.dl-menuwrapper button {
    background: #e7308a;
    float: left;
    border: none;
    width: 82px;
    height: 82px;
    text-indent: -900em;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    outline: none;
    margin-right: 20px;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}
.dl-menuwrapper button:hover, .dl-menuwrapper button.dl-active {
    background: #ad2266;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}
.dl-menuwrapper ul {
    background: #e73089;
}
.dl-menuwrapper button:after {
    content: '';
    position: absolute;
    width: 50%;
    height: 2px;
    background: #ffffff;
    top: 31px;
    left: 26%;
    box-shadow: 0 9px 0 #ffffff, 0 18px 0 #ffffff;
}
.dl-menuwrapper li.dl-back:after, .dl-menuwrapper li > a:not(:only-child):after {
    position: absolute;
    top: 0;
    line-height: 50px;
    font-family: 'Glyphicons Halflings';
    speak: none;
    -webkit-font-smoothing: antialiased;
    content: "\e258";
    color: #ffffff;
    font-size: 13px;
}
.dl-IRN-strong {
    font-family: 'db_helvethaica_x73_bdext';
    color: #000000;
    font-size: 30px;
    text-transform: uppercase;
}
.dl-IRN-strong-th {
    font-size: 26px;
}
.dl-IRN-p {
    margin: 31px 0px 0 0;
    white-space: nowrap;
}

@media (max-width:1880px) {
    ul.ir-shotcut-btn {
        padding-left: 38%;
    }
    ul.ir-shotcut-btn-th {
        padding-left: 32%;
    }
}
@media (max-width:1660px) {
    ul.ir-shotcut-btn  {
        padding-left: 25%;
    }
    ul.ir-shotcut-btn-th {
        padding-left: 21%;
    }
}
@media (max-width: 1400px) {
    ul.ir-shotcut-btn {
        padding-left: 21%;
    }
    ul.ir-shotcut-btn-th {
        padding-left: 13%;
    }
}
@media (max-width: 1280px) {
    ul.ir-shotcut-btn {
        padding-left: 15%;
    }
    ul.ir-shotcut-btn-th {
        padding-left: 7%;
    }
    .dl-IRN-strong {
        font-size: 22px;
    }
    .dl-IRN-strong-th {
        font-size: 20px;
    }
}
@media (max-width: 1199px) {
    ul.ir-shotcut-btn {
        padding-left: 17%;
    }
    ul.ir-shotcut-btn-th {
        padding-left: 12%;
    }
    ul.ir-shotcut-btn li {
        padding: 10px 0 10px 15px;
        margin: 18px 13px 0 5px;
    }
    ul.ir-shotcut-btn.ir-shotcut-btn-th li {
        padding: 10px 0 10px 5px;
        margin: 18px 4px 0 4px;
    }
    .dl-menuwrapper button {
        margin-right: 10px;
    }
}
@media (max-width: 1124px) {
    ul.ir-shotcut-btn {
        padding-left: 8%;
    }
    ul.ir-shotcut-btn-th {
        padding-left: 8%;
    }
}
@media (max-width: 1024px) {
    ul.ir-shotcut-btn {
        padding-left: 18%;
    }
    ul.ir-shotcut-btn-th {
        padding-left: 12%;
    }
    ul.ir-shotcut-btn.ir-shotcut-btn-th li {
        padding: 10px 0 10px 15px;
        margin: 18px 13px 0 5px;
    }
}
@media (max-width:992px) {
    .ir-shotcut-btn {
        display: none;
    }
}*/
.content-ir {
    width: 90%;
}
.cover-content {
    margin-top: 72px;
}
@media (max-width:991px) {
    .cover-content {
        margin-top: 0px;
    }
    .event-banner {
        margin-top: 30px;
    }
}


/*-----------------------------------------------------------------------------------*/
/* Stock Price & Financial Highlights
/*-----------------------------------------------------------------------------------*/
/*Stock Price*/
#bxir-stock-fh {
    padding: 40px 0 0 0;
}
.cover-stock-price {
    background: url(../images/stockPrice-background.jpg) #eaeaea;
    background-repeat: no-repeat;
    background-size: contain;
}
.stockprice-head {
    text-align: center;
    padding: 45px 40px 0px 40px;
}
.stockprice-head img {
    margin-bottom: 5px;
}
.stockprice-head p:nth-child(3) {
    font-size: 20.5px;
    color: #000000;
    text-align: left;
    margin-top: 30px;
    height: 67px;
}
/*stockprice-status*/
.stockprice-status {
    /*border-bottom: 1px #d9d9d9 solid;*/
    border-top: 1px #d9d9d9 solid;
    /* padding: 10px 0px; */
    /*margin-left: -52px;*/
    /*margin-right: -52px;*/
    margin-top: 35px;
    overflow: hidden;
    font-family: 'db_helvethaica_x73_bdext';
}
.stockprice-status .status-wrap {
    /*padding: 0 26px;*/
    overflow: hidden;
}
.status-wrap .status-list {
    float: left;
    padding: 13px 15px 13px 45px;
    overflow: hidden;
}
.status-list .symbol-wrap {
    display: block;
    float: none;
}
.status-list .stock-symbol {
    margin-top: 0;
    margin-bottom: 0px;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: black;
}
.status-list .stock-symbol-th {
    margin-top: 0;
    margin-bottom: 0px;
    font-size: 18px;
    letter-spacing: 0.02em;
    color: black;
}
.symbol-wrap img {
    float: left;
    margin-right: 20px;
    margin-bottom: 15px;
    margin-top: 10px;
}
p.stock-data {
    font-size: 20.5px;
    letter-spacing: 0.02em;
    color: #e73089;
    text-decoration: underline;
    margin-bottom: 0px;
}
p.stock-data-th {
    font-size: 18.5px;
    letter-spacing: 0.02em;
    color: #e73089;
    text-decoration: underline;
    margin-bottom: 0px;
}
.ir-font p {
    margin: 10px 0px;
    display: flow-root;
}
.status-list-width-1 {
    width: 35%;
}
.status-list-width-2 {
    width: 65%;
}
.status-list.line-r1 {
    border-right: 1px #d9d9d9 solid;
    border-bottom: 1px #d9d9d9 solid;
}
.status-list.line-r2 {
    border-bottom: 1px #d9d9d9 solid;
}
/*stockprice-widget*/
.stockprice-widget {
    overflow: hidden;
    /*margin: 55px 0 83px;*/
    /* display: table; */
    text-align: center;
}
.stockprice-widget .stock-frame {
    min-height: 246px;
    padding: 23px 7px;
    background: #d4d4d4;
    border-radius: 3px;
    display: inline-block;
    position: relative;
}
/*stock-link-wrap*/
.stock-link-wrap {
    overflow: hidden;
    display: flex;
    position: relative;
}
.stock-link-wrap .btn-stock {
    width: 50%;
    float: left;
    display: inline-block;
    text-align: center;
    color: #fff;
    padding: 15px 0;
}
.btn-stock.black {
    background: #e7308a;
    transition: all 0.2s linear;
}
.btn-stock.black:hover {
    /* opacity: 0.85; */
    background-color: #b31e67;;
}
.stock-link-wrap .btn-stock {
    font-family: 'db_helvethaica_x73_bdext';
    width: 50%;
    float: left;
    display: inline-block;
    text-align: center;
    color: #fff;
    padding: 21px 0;
    letter-spacing: 0.02em;
    font-size: 22px;
}
.btn-stock.green {
    background: #15377e;
    transition: all 0.2s linear;
}
.btn-stock.green:hover {
    background: #0e2556;
}

/*Financial Highlights*/
.cover-financial-highlights {
    background-color: #ffffff;
    padding: 60px 20px 0 20px;
}
.ebitda {
    font-family: 'db_helvethaica_x73_bdext';
    font-size: 25px;
    text-align: center;
    color: #424247;
    padding: 36px 0 95px 0;
    margin-bottom: 0px;
}
.ebitda span {
    color: #000000;
}
/*.stock-link-wrap a:hover {
    text-decoration: underline;
}*/
.container-SI {
    padding: 45px 0 82px;
}
.backWhiteSlides {
    background-color: #d4d4d4;
    min-height: 246px;
    width: 215px;
    padding: 25px 7px 0 7px;
    background: #d4d4d4;
    border-radius: 3px;
    display: inline-block;
    position: relative;
    margin: 0 auto;
}
.owl-carousel .owl-item img {
    display: block;
    width: auto;
    margin: 0 auto;
}
.owl-theme .owl-dots .owl-dot span {
    width: 60px;
    height: 12px;
    margin: 5px 7px;
    background: #d4d4d4;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
     border-radius: 0px; 
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #e73089;
    transition: ease 0.5s;
}
.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 10px;
    top: 40px;
    position: relative;
}
.owl-theme .owl-dots .owl-dot:focus {
    outline: 0;
}



/*-----------------------------------------------------------------------------------*/
/* Annual Report & Form 56-1
/*-----------------------------------------------------------------------------------*/
#bxir-annual-form {
    padding: 40px 0 0 0;
    letter-spacing: 0.02em;
}
.annual-form {
    background: url(../images/annual-form-background.jpg) no-repeat;
    background-size: cover;
    background-position: right;
}
.annual-form-wrap {
    padding: 55px 13% 75px 13%;
    font-size: 19px;
    color: white;
}
.annual-form-wrap h1 {
    color: #000000;
    margin-bottom: 20px;
}
.annual-form-wrap p {
    color: #000000;
    margin-bottom: 26px;
}

.cover-content__annual {
    padding-left: 0;
    padding-right: 15px;
}
.cover-content__form {
    padding-left: 15px;
    padding-right: 0;
}
.content__annual {
    background-color: #e73089;
    padding: 27px 25px 78px 25px;
}
.content__form {
    background-color: #303030;
    padding: 27px 25px 78px 25px;
}
.cover-content__annual-form div div p.head {
    color: #ffffff;
    text-align: left;
    margin-bottom: 7px;
}
.cover-content__annual-form div div p {
    color: #ffffff;
    text-align: left;
    height: 25px;
    margin-bottom: 45px;
}
.cover-content__annual-form div div div a {
    color: #ffffff;
    border: #ffffff solid 2px;
}
.cover-content__annual-form div div div a:hover {
    color: #000000;
    border: #ffffff solid 2px;
}







/*-----------------------------------------------------------------------------------*/
/* News
/*-----------------------------------------------------------------------------------*/
#bxir-news {
    padding: 80px 0 0 0;
}
/*News*/
.news-stockprice .news-wrap {
    overflow: hidden;
}
.news-wrap .news-list {
    padding: 12px 5px 6px;
    /*margin-bottom: 10px;*/
    border-bottom: 1px #d9d9d9 solid;
    background: #f0f0f0;
    transition: all 0.3s linear;
    overflow: hidden;
}
.news-wrap .news-list:hover {
    background: #f3e0ef;
}
.news-list .bullet-date {
    background: url(../images/bullet_date.png) no-repeat;
    float: left;
    width: 65px;
    height: 65px;
    margin: 8px 20px 9px 20px;
    text-align: center;
    padding: 20px 16px 16px 14px;
}
.bullet-date2 {
    background: url(../images/bullet_date2.png) no-repeat !important;
}
.bullet-date2 p {
    color: #15377e !important;
}
.bullet-date p {
    font-family: 'db_helvethaica_x73_bdext';
    color: #303030;
    font-size: 22px;
    line-height: 15px;
    margin: 0 !important;
}
.news-wrap .set-news {
    overflow: hidden;
    position: relative;
}
.news-wrap .date-detail {
    line-height: 0px;
    color: #e7308a;
    margin-top: 18px;
    margin-bottom: 10px;
    font-family: 'db_helvethaica_x75_bd';
    letter-spacing: 0.02em;
    font-size: 20px;
}
.news-detail {
    font-size: 21px;
    line-height: 1;
    font-family: 'db_helvethaica_x53_ext';
    color: #353535;
    overflow: hidden;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    height: 44px;
}
.date-detail span {
    color: #a9a9ab;
}
.set-news a {
    text-decoration: none;
    text-decoration: unset;
}
a.btn-view {
    display: inline-block;
    position: relative;
    border: #303030 solid 2px;
    color: #303030;
    padding: 12px 43.5px;
    font-size: 20px;
    transition: ease 0.5s;
}
a.btn-view:hover {
    background: #ffffff;
    border: #ffffff solid 2px;
}

/*-----------------------------------------------------------------------------------*/
/* ir-calendar
/*-----------------------------------------------------------------------------------*/
#bxir-calendar {
    padding: 80px 0 0px 0;
}
.cover-calendar {
    margin: 32px 0 0 0;
    letter-spacing: 0.02em;
    color: #ffffff;
    font-size: 20px;
}
div.cover-calendar div div div.calendar-1 {
    height: 600px;
    background-color: #e73089;
    padding: 38px 38px 38px 39px;
}
div.cover-calendar div div div.calendar-2 {
    height: 300px;
    background-color: #5c2e91;
    padding: 38px 38px;
}
div.cover-calendar div div div.calendar-3 {
    height: 300px;
    background-color: #52af2f;
    padding: 38px 38px;
}
div.cover-calendar div div div.calendar-4 {
    height: 300px;
    background-color: #15377e;
    padding: 38px 38px;
}
div.cover-calendar div div div.calendar-5 {
    height: 300px;
    background-color: #26bdbe;
    padding: 38px 38px;
}
.cover-badge-Upcoming {
    position: absolute;
    right: 0;
}
.badge-Upcoming {
    background-color: #000000;
    height: 35px;
    width: 95px;
    position: relative;
    top: -49px;
    left: -38px;
}
.badge-Text-Upcoming {
    font-family: 'db_helvethaica_x75_bd';
    color: #ffffff;
    font-size: 20.5px;
    line-height: 1.8;
    letter-spacing: 0.5px;
    font-weight: bold;
    margin-left: 11px;
    margin-top: 0px;
}
.date-time-calendar {
    border-bottom: 1px solid #ffffff;
    padding-bottom: 18px;
    margin-bottom: 20px;
}
.date-time-calendar span.time {
    font-family: 'db_helvethaica_x55_regular';
}
.date-time-calendar img {
    margin-left: 6px;
}
.date-time-calendar span{
    margin-left: 6px;
}
.main-txt-calendar p.first-calendar:nth-child(1) {
    font-size: 44px;
    height: auto;
    -webkit-line-clamp: unset;
}
.main-txt-calendar p:nth-child(1) {
    font-family: 'db_helvethaica_x73_bdext';
    font-size: 26px;
    line-height: 1;
    height: 50px;
    overflow: hidden;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.main-txt-calendar p:nth-child(2) {
    line-height: 1.1;
    height: 64px;
    overflow: hidden;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
.file-film-calendar img {
    margin-right: 15px;
}
.file-film-calendar-1 {
    margin-top: 80px;
}
.file-film-calendar-1 div {
    border-top: 1px solid #f07fb6;
    padding: 17px 0 0px 0px;
}
.file-film-calendar-1 div img  {
    float: left;
    margin: 0px 20px 30px 0;  
}


/*-----------------------------------------------------------------------------------*/
/* Investor Kits
/*-----------------------------------------------------------------------------------*/
#bxir-investor-kit {
    padding: 90px 0 0 0;
    letter-spacing: 0.02em;
}
.align-download-all {
    text-align: right;
    padding-right: 8px;
}
.investor_kit {
    background: url(../images/kits-background.jpg) no-repeat;
    background-size: cover;
    background-position-y: 95%;
}
.kits-wrap {
    padding: 80px 11.5%;
}
.kits-wrap .list-download-wrap {
    overflow: hidden;
    margin: 30px 0 10px;
}
.list-download-wrap .list {
    width: 100%;
    background: #ffffff85;
    background: rgba(255, 255, 255, 0.5215686274509804);
    background: hsla(0, 0%, 100%, 0.5215686274509804);
    margin: 0 8px 8px 0px;
}
.list .list-frame {
    width: 100%;
    padding: 18px 0px 5px 20px;
}
.direct-link {
    position: absolute;
    display: block;
    top: 39px;
    right: 24px;
    opacity: 1;
    transition: all 0.15s linear;
}
.direct-link:hover {
    opacity: 0.5;
}
.select-all-wrap {
    background: #48516554;
    padding: 30px 11.5% 25px;
}
.select-all-wrap  .btn-download-all {
    display: inline-block;
    position: relative;
    border: #ffffff solid 2px;
    color: #ffffff;
    padding: 12px 35px;
    font-size: 20px;
    transition: ease 0.5s;
}
.select-all-wrap .btn-download-all:hover {
    background: #f4f4f4;
    color: #303030;
}
label.container {
    font-family: 'db_helvethaica_x73_bdext';
    color: white;
    line-height: 1;
    font-size: 20.5px !important;
}
.size-file {
    font-family: 'db_helvethaica_x43_liext' !important;
    font-size: 17px !important;
    color: #000000 !important;
        margin-top: 5px;
}
.checkmark {
    top: 2px !important;
    height: 15px !important;
    width: 15px !important;
}
label.container input:checked ~ .checkmark {
    background-color: #e73089 !important;
}
label.container .checkmark:after {
    left: 6px !important;
    top: 3px !important;
}

/* Investor Kits*/


/*-----------------------------------------------------------------------------------*/
/* IR-highlight
/*-----------------------------------------------------------------------------------*/
#bxir-highlight {
    padding: 80px 0 100px 0;
    letter-spacing: 0.02em;
}
.cover-text {
    border-bottom: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    padding: 30px 25px 35px 25px;
}
.cover-text p:nth-child(1) {
    font-family: 'db_helvethaica_x73_bdext';
    font-size: 22px;
    color: #323232;
    margin-bottom: 6px;
}
.cover-text p:nth-child(2) {
    font-size: 21px;
    color: #636466;
    margin-bottom: 28px;
    height: 75px;
}
a.btn-view-highlight {
    display: inline-block;
    position: relative;
    border: #303030 solid 2px;
    color: #303030;
    padding: 12px 52px;
    font-size: 20px;
    transition: ease 0.5s;
}
a.btn-view-highlight:hover {
    background: #ffffff;
    border: #ffffff solid 2px;
}
.cover-img img {
    width: 100%;
}

/*-----------------------------------------------------------------------------------*/
/*============================/ responsive /========================*/
/*-----------------------------------------------------------------------------------*/
@media screen and (max-width: 1880px) {
    label.container {
        padding-right: 0px;
    }

    /*Investor Kits*/
   .kits-wrap {
        padding: 80px 5%;
    }

    /*IR-highlight*/
    .cover-text p:nth-child(2) {
        height: 75px;
    }
}
@media screen and (max-width: 1820px) {
    /*Stock Price & Financial Highlights*/
    .stockprice-head {
        text-align: center;
        padding: 45px 25px 0px 25px;
    }
    .status-wrap .status-list {
        padding: 13px 0px 13px 25px;
    }

    /*IR-highlight*/
    .cover-text p:nth-child(2) {
        height: 95px;
    }
}
@media screen and (max-width: 1638px) {
    /*Investor Kits*/
    .kits-wrap {
        padding: 80px 3%;
    }

    /*annual*/
    .cover-content__annual-form div div p {
        margin-bottom: 55px;
    }
    .annual-form-wrap {
        padding: 55px 5% 75px 5%;
    }

    /*calendar*/
    .main-txt-calendar p.first-calendar:nth-child(1) {
        font-size: 36px !important;
    }
}
@media screen and (max-width: 1468px) {
    /*Stock Price & Financial Highlights*/
    .symbol-wrap img {
        margin-right: 10px;
    }

    /*Investor Kits*/
    .kits-wrap {
        padding: 80px 2%;
    }
    label.container {
        font-size: 18.5px !important;
    }

    /*calendar*/
    .file-film-calendar-1 {
        margin-top: 50px;
    }
    .main-txt-calendar p.first-calendar:nth-child(1) {
        font-size: 30px !important;
    }
    .main-txt-calendar p:nth-child(1) {
        font-size: 23px;
        height: 45px;
    }

    /*IR-highlight*/
    .cover-text p:nth-child(1) {
        height: 40px;
    }
}
@media screen and (max-width: 1366px) {
    .content-ir {
        width: 95%;
    }

    /*Stock Price & Financial Highlights*/
    .stockprice-head p:nth-child(3) {
        height: 87px;
    }
    .status-list-width-1 {
        width: 35%;
    }
    .status-list-width-2 {
        width: 65%;
    }
    .status-list.line-r2 {
        border-right: 1px #d9d9d9 solid;
    }
    .status-wrap .status-list {
        padding: 13px 0px 13px 13px;
    }
    .stock-link-wrap .btn-stock {
        font-size: 20px;
    }

    /*IR-highlight*/
    .cover-text p:nth-child(1) {
        height: 50px;
    }
    .cover-text p:nth-child(2) {
        height: 120px;
    }

    /*Investor Kits*/
    .max-width-forKit {
        max-width: 50%;
        flex: auto;
    }
    .kits-wrap {
        padding: 80px 2%;
    }
    .list-download-wrap .list {
        margin: 0 8px 8px 8px;
    }
    label.container {
        font-size: 20.5px !important;
    }
}

@media screen and (max-width: 1199px) {
    /*Banner*/
    .cover_BannerText {
        padding: 0 0px 0 35.5%;
    }
    .dl-menuwrapper .dl-menu {
        width: 125%;
    }
    .padResponsive {
        padding-right: 0px !important;
        padding-left: 0px !important;
        margin-bottom: 60px;
    }
    #bxir-news {
        padding: 0px 0 0 0;
    }
    #bxir-calendar {
        padding: 10px 0 100px 0;
    }
    #bxir-investor-kit {
        padding: 0px 0 0 0;
    }
    #bxir-highlight {
        padding: 65px 0 100px 0;
    }

    /*Stock Price & Financial Highlights*/
    .cover-stock-price {
        background-position-x: right;
        background-position-y: top;
    }
    .cover-text p:nth-child(2) {
        height: 140px;
    }
    .br-none {
        display: none;
    }
    .stockprice-head {
        padding: 45px 40px 0px 40px;
    }
    .stockprice-head p:nth-child(3) {
        height: auto;
    }
    .status-wrap .status-list {
        padding: 13px 15px 13px 45px;
    }
    .symbol-wrap img {
        margin-right: 20px;
    }
    .stock-link-wrap .btn-stock {
        font-size: 22px;
    }

    /*calendar*/
    div.cover-calendar div div div.calendar-1 {
        height: auto;
    }
    div.cover-calendar div div div.calendar-2 {
        height: auto;
    }
    div.cover-calendar div div div.calendar-3 {
        height: auto;
    }
    div.cover-calendar div div div.calendar-4 {
        height: auto;
    }
    div.cover-calendar div div div.calendar-5 {
        height: auto;
    }
    .main-txt-calendar p:nth-child(1) {
        height: 55px;
        font-size: 25px;
    }
    .main-txt-calendar p:nth-child(2) {
        height: auto;
    }
    .file-film-calendar-1 {
        margin-top: 25px;
    }

    /*annual*/
    .cover-content__annual {
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: 30px;
    }
    .cover-content__form {
        padding-left: 0px;
        padding-right: 0px;
    }
    #bxir-annual-form {
        padding: 0px 0 60px 0;
    }
    .annual-form-wrap {
        padding: 55px 10% 75px 10%;
    }
    .annual-form {
        background: url(../images/annual-form-background-2.jpg) no-repeat;
        background-size: cover;
        background-position: right;
    }
    .cover-content__annual-form div div p {
        height: auto;
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 1086px) {
    .cover-text p:nth-child(2) {
        height: 160px;
    }
}

@media screen and (max-width: 991px) {
    /*Banner*/
    .cover_BannerText {
        padding: 0 0px 0 25.5%;
    }
    .padResponsive-for-highlight {
        padding-right: 0 !important;
        padding-left: 0 !important;
        padding-bottom: 50px !important;
    }

    /*IR-highlight*/
    .cover-text p:nth-child(1) {
        height: auto;
    }
    .cover-text p:nth-child(2) {
        height: auto;
    }

    /*calendar*/
    .main-txt-calendar p:nth-child(1) {
        height: auto;
         -webkit-line-clamp: unset; 
    }

    /*annual*/
    .annual-form-wrap {
        padding: 55px 7% 75px 7%;
    }
}
@media screen and (max-width: 767px) {
    /*Banner*/
    .cover_BannerText {
        padding: 0 0px 0 0%;
    }
    .img-banner-ir {
        background-position: right !important;
    }
    .cover_BannerText1 p:nth-child(2) {
        white-space: normal;
    }
    .mbr-slider .mbr-table-cell {
        padding: 130px 0;
    }

    /*annual*/
    .annual-form-wrap {
        padding: 55px 5% 75px 5%;
    }

    /*Investor Kits*/
    .max-width-forKit {
        max-width: 100%;
    }
    .list-download-wrap .list {
        margin: 0 0px 8px 0px;
    }
    .kits-wrap {
        padding: 80px 8%;
    }
}
@media screen and (max-width: 575px) {
    .align-download-all {
        text-align: center;
    }

    /*Stock Price & Financial Highlights*/
    .stockprice-head {
        padding: 45px 30px 0px 30px;
    }
    .status-wrap .status-list {
        padding: 13px 15px 13px 30px;
    }
    .status-list-width-1 {
        width: 100%;
    }
    .status-list-width-2 {
        width: 100%;
    }
    .stock-link-wrap .btn-stock {
        font-size: 20px;
    }
}

@media screen and (max-width: 425px) {
    /*Banner*/
    .mbr-slider .mbr-table-cell {
        padding: 70px 0;
    }
    .dl-menuwrapper .dl-menu {
        width: 100%;
    }

    /*news*/
    .news-wrap .date-detail {
        font-size: 17px;
    }
    .news-list .bullet-date {
        margin: 8px 10px 9px 0px;
    }
    .news-detail {
        font-size: 19px;
        height: 40px;
    }

    /*annual*/
    .annual-form {
        background-position: center;
    }

    /*Investor Kits*/
    .list .list-frame {
        width: 100%;
        padding: 18px 50px 5px 20px;
    }
}

.tab {
    text-align: center;
    margin-top: 65px;
    margin-bottom: 40px;
    margin-bottom: 58px;
}

.tab button:nth-child(1) {
    font-family: db_helvethaica_x73_bdext;
    background-color: inherit;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 26px;
    font-weight: 500;
    background-color: #ffffff;
    border: 1px solid #e73089;
    color: #e73089;
    width: 160px;
}
.tab button:nth-child(2) {
    font-family: db_helvethaica_x73_bdext;
    background-color: inherit;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 26px;
    font-weight: 500;
    background-color: #ffffff;
    border: 1px solid #e73089;
    color: #e73089;
    width: 160px;
    margin-left: -3px;

}
.tab button.active {
    background-color: #e73089;
    color: white;
}


@media screen and (max-width: 394px) {
.tab button:nth-child(2) {
    margin-left: 0px;
    margin-top: 10px;


}
}


.highcharts-legend tspan {
    font-family: 'db_helvethaica_x53_ext';
    font-size: 18px;
    color: #666666;
}
.highcharts-axis tspan {
    font-family: 'db_helvethaica_x53_ext';
    font-size: 21px;
    color: #555;
}