*{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

@media screen and (max-width: 1024px){
body{  font-size:18px; line-height:20px;  } 
.content{  width:92%; }  
.contentx{  width:92%; }  
.contentz{  width:92%; }  

.headerbx{ height:60px;   }
.bxheader > .c1{ width:187px; }
.bxheader > .c2{ position:relative; width:auto;  }
.bxheader > .c3{ width:45px;  }
.bxlogo img{ max-height:38px; }
.bxlogo svg{ max-height:38px; }

.bxlang span{ display:none; }

.bxnav{ display:none; } 

.headerbxm{ display:block; text-align:right;   }

.bxnavm{ display:inline-block; position:relative; margin-right:44px; }

#navmb{ 
  display:inline-block; width:20px; height:16px; position: relative; margin:0; cursor: pointer; vertical-align:middle; 
  -webkit-transform: rotate(0deg);  -moz-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out; -moz-transition: .5s ease-in-out; -o-transition: .5s ease-in-out; transition: .5s ease-in-out;  }

#navmb span {
  display:block; position:absolute; height:2px; width:100%; background:#094086; opacity:1; left:0; vertical-align:middle; 
  -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out; -moz-transition: .25s ease-in-out; -o-transition: .25s ease-in-out; transition: .25s ease-in-out;  }
 
#navmb span:nth-child(1) {
  top: 2px; 
  -webkit-transform-origin: left center; -moz-transform-origin: left center; -o-transform-origin: left center; transform-origin: left center; }
#navmb span:nth-child(2) {
  top: 7px;
  -webkit-transform-origin: left center; -moz-transform-origin: left center; -o-transform-origin: left center; transform-origin: left center; }
#navmb span:nth-child(3) {
  top:12px; width:12px;
  -webkit-transform-origin: left center; -moz-transform-origin: left center; -o-transform-origin: left center; transform-origin: left center; }

#navmb.open span:nth-child(1) {
  -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); top:0px; left:1px; }
#navmb.open span:nth-child(2){ width:0%; opacity:0; }
#navmb.open span:nth-child(3){
  -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); 
  top: 14px; left: 1px; width:100%; }
#navmb div{ display:inline-block; position:relative; margin-left:28px; margin-top:-4px;   }
/*
#bxnavmobile{ display:none; position:fixed; height:100%;  background:#ffffff; width:100%; top:60px; right:0px; z-index:999; overflow:auto;  } */
#navproject, #navpromo, #navnews, #navmedia, #navabout, #navir{ display:none;  }  
 
#popuphighlight{ top:-10px; }
#bxnavmobile{ 
 position:fixed; display:none; overflow:auto; height:100%; z-index:9999; width:100%; right:0px; top:60px; background:#ffffff;  }
.bxnavmobile{ display:block; position:relative; width:100%; margin:0 auto; padding:0 12px 100px;   }
.mmcclink{ display:block; position:relative;   }
.mmcclink a{ display:block; position:relative; padding:12px 0; transition:ease 0.5s;  }
.mmcclink a.activ,
.mmcclink a:hover{ color:#eb4096;  } 

.mpane{ display:block; position:relative; border-bottom:#e5e5e5 solid 1px; }
.mpane .mmcc{ 
  display:block; position:relative; cursor:pointer; padding:12px 0; text-align:left; transition:ease 0.5s; 
  border-top:#e5e5e5 solid 1px; background:url(../../img/m-down.png) right no-repeat;  }
.mpane .macc.activ{ color:#eb4096;  } 
.macc_body{	display:none; background-image:none !important; border-top:#e5e5e5 solid 1px; padding:20px 0 0; }

 
.navprojbx{  padding:0 16px;  }
.navprojbx > .c1{ display:block; position:relative; width:100%; float:left; }
.navprojbx > .c2{ display:block; position:relative; width:100%; float:left; }
.navprojbx > .c1 > .bx,
.navprojbx > .c2 > .bx{ margin-left:0; }
 
 
.bxnavsub{ display:block; padding:0 16px 20px; }
.bxnavsub > .tb{ display:block; width:100%;  }
.bxnavsub > .tb a{ width:92%; margin:0; text-align:left; padding:6px 0; } 
.bxnavsub > .tb a > div > span{  font-size:22px; line-height:24px; }
.bxnavsub.twoc{ width:100%; margin:0; }
.bxnavsub.threec{ width:100%; margin:0; } 

.bxmsubnav{ display:block; position:relative; text-align:left; padding:0 0 20px;   }
.bxmsubnav > .bx{ display:block; position:relative;   }
.bxmsubnav > .bx > a{ display:block; position:relative; width:80%;  font-size:22px; line-height:10px;   }
.bxmsubnav > .bx > a > div{ font-size:18px; line-height:20px; }
.bxmsubnav  .navprojbx-bxh{ margin:0 !important; }
 


#bxhome{ height:auto;  }
.bxhome{ height:auto;  }
.bxhome > .bxhome-l{ display:block; position:relative; width:100%; height:auto; margin-top:70px;  }

.bxhome-pager{ width:96%; margin:0 auto; padding:0 0 20px;  }
.bxhome-pager-h{ display:block; margin:0; padding:0 0 6px; } 

.bxpager > .icon{ bottom:16px;  }
 
.bxpager > .txt ul li{ display:inline-block; padding:12px 0; width:145px; margin-right:10px;   }
.bxpager > .txt ul li a > .iout{ right:0px; top:0px; } 
.bxpager > .txt ul li a img{ max-height:30px; }
 
 

a.btn-view{ font-size:18px; line-height:18px;   }
a.btn-viewall{ font-size:18px; line-height:18px;  } 
a.btn-viewallpink{ font-size:18px; line-height:18px;   }


.hnews-head{  font-size:22px; line-height:28px;  } 
.hnewsbxlist{ padding:39px 0 0;  }
.hnewsbx-btn{  padding:39px 0 0; }

.hnewsbx{ width:92%; margin:0 auto 16px; padding:0 0 26px;    }
.hnewsbx > .hnewsbx-img{ padding:0 0 26px; }
.hnewsbx > .hnewsbx-bxtxt{  width:92%; }
.hnewsbx > .hnewsbx-bxtxt > .bxdesc{ padding:0 0 10px; }
.hnewsbx > .hnewsbx-bxtxt > .bxdate{ padding:0 0 26px; }
.hnewsbx > .hnewsbx-bxtxt > .bxbtn{ font-size:18px; line-height:18px; padding:9px 32px;  }  

#bxhome-ir{ padding:39px 0;  }
.bxhomeir{ padding:39px 0;  } 

#footer{ padding:32px 0;  }
.footer{  width:92%; margin:0 auto; }
.footerbx{ font-size:20px;  }
.footerbx > .c3{  line-height:22px;  } 
.footerbx ul li{ padding:0 0 20px; }
.footerbxtxt{ display:block; position:relative; width:280px;  } 
.footer-txth > div{ padding:0 0 10px; }

#enewsform{ width:280px; }
#enewsform > .bxframe > .bxframe-tb > .icon{ width:32px; }
#enewsform > .bxframe > .bxframe-tb > .icon img{ width:26px; } 
#enewsform > .bxframe > .bxframe-tb > .btnbx{ width:82px;  }
#enewsform input[type=text]{ width:142px; height:41px;  }
#enewsform input[type=submit]{ width:82px;  }  

#bxinner-header{  height:60px; }

#projnav{ top:60px; height:48px; border-bottom:#fff solid 1px;   }

#projnav > .tb > .c1{ text-align:left; width:50%; }  
#projnav > .tb > .c2{ text-align:left; width:50%; } 
.projnav.desktop{ display:none; }
.projnav.mobile{ display:block; }

.projnav ul{ padding:0; margin:0; list-style:none; }
.projnav ul li{ display:block; position:relative; vertical-align:middle; padding:0 20px; } 
.projnav li a{ display:block; position:relative; }
.projnav li a:hover,
.projnav li a.active{ text-decoration:underline; } 

.projnav-name{  height:auto; padding:20px 16px; margin-top:0; }
  
#projnavmobile{ display:block; position:fixed; width:100%; margin:0 auto; padding:12px 0 24px;  z-index:66;  }
.projnavmobile{ display:block; position:relative; width:96%; margin:0 auto; }
#samplenav{ display:block; position:relative; margin:0 auto; padding:0; width:96%;  }
.dropdown dd, .dropdown dt, .dropdown ul { margin:0px; padding:0px; }
.dropdown dd { position:relative; }
.dropdown a, .dropdown a:visited { text-decoration:none; outline:none;}
.dropdown a:hover{ color:#ffffff;}
.dropdown dt a:hover { color:#ffffff; }
.dropdown dt a{ 
 display:block; position:relative; background:url(../../img/icon-sel.png) 98% no-repeat; 
 color:#ffffff; }
.dropdown dt a span {cursor:pointer; display:block; padding:10px 18px;}
.dropdown dd ul{ 
 padding:0; margin:0; display:none; left:0px; position:absolute; top:6px; width:100%; 
 list-style:none;}
.dropdown span.value { display:none;}
.dropdown dd ul li a { display:block; position:relative; padding:10px 0px;  color:#ffffff; }
.dropdown dd ul li a.last{ border-bottom:none; }
.dropdown dd ul li a.activ,
.dropdown dd ul li a:hover {  }  

#bxprojhead > .tb > .c1 > .logo img{ max-height:60px; }
#bxprojhead > .tb > .c2 > .txt{ font-size:20px; line-height:30px; }
 
#bxprojregis{  padding:39px 0; min-height:auto;  }
.bxprojregis{  }
.bxprojregis .bxh{ font-size:22px; line-height:28px; padding-bottom:39px; } 
#regisform input{ font-size:20px;  }
#regisform input.btn-submit{ width:160px;  font-size:18px; }
 
#projconcept{ padding:52px 0;  }
.projconcept{ width:92%; font-size:18px; line-height:24px;  }
.bxhead{ font-size:28px; line-height:28px;  }
.bxline-white{  margin:20px auto;  } 
.bxsubhead{ font-size:18px; padding:0 0 20px; }
 
.projhometype-bxh{  padding:26px 0;   } 
.projdetab-bxh{ width:100%; margin:0 auto; } 

.bxprojht{  padding:52px 0; width:92%;   }
.projhtbx{ font-size:20px; line-height:24px;  }

#projmasterplan{  padding:26px 0 52px; }
.projmasterplan{  padding:52px 0 0; }

#projmasterplan{ padding:39px 0; }
.projmasterplan{ padding:39px 0 0; }


#projfacilities{ padding:26px 0 52px; }
.projfacilities{ width:100%; padding:26px 0 0; }
.projfacilities > .l{ display:block; position:relative; width:50%; float:left; }
.projfacilities > .r{ display:block; position:relative; width:50%; float:left; }
.projfacilities > .r > .bxtxt{ width:90%; margin:0 auto; font-size:18px; line-height:24px;  }
.faci-iconbx{   padding:26px 0 0;  } 
.facibx > .facibx-txt{  font-size:18px; line-height:20px;  }

#projlocation{  padding:39px 0; }
.projlocation{ padding:39px 0 26px;   }
.projlobx-txt{ padding:26px 30px; font-size:18px; line-height:26px;  }
.projlobx-btn{ padding:39px 0 0; }
 
#projgallery{  padding:39px 0 26px; }
.projgallery{  padding:39px 0 0; }
 

#projreview{  padding:39px 0;   }
.projreview{ padding:39px 0 0; }
.projreviewbx{   }
 

#projaward{  padding:39px 0 39px; }
.projaward{   padding:39px 0 0;  }
.projawardbx > .l > .bximg{  }
.projawardbx > .r > .bxtxt{  }

#projcontact{ ; padding:39px 0 39px;  }
.projcontact-add{ font-size:18px; line-height:24px; }  
.projcontact{ } 

 
#contactform input{ font-size:18px;  }
#contactform textarea{  font-size:18px;   } 
#contactform textarea.bigger{ height:154px; }
 
#contactform .bxsubmit{  padding:16px 0 0; }
#contactform input.btn-submit{ font-size:18px; }

.projbtnbx{ padding:36px 0 39px; }


.bxinner-headbx{  border-top:#e5e5e5 solid 0px; padding:26px 0;   }
 
.bxprominner{  padding:39px 0; }
.promobx > .promobx-bxtxt{  padding:20px; } 
 
 /*
.promobx{ padding:0 0 26px;  }
.promobx > .promobx-img{  padding:0 0 26px; } 
.promobx > .promobx-bxtxt > .bxbtn{ font-size:18px; line-height:20px; width:160px; padding:9px 0; }
 
.bxpromotion-de > .bxline{  margin-bottom:26px; }
.bxpromotion-de > .bxsubj{ font-size:30px; line-height:28px;   }
.bxpromotion-de > .bxdate{ padding:0 0 26px; } 
*/

.bxirblue{ padding:52px 0;  }  
.bxirbluetop > .bxtb > .c1 > .bx{  font-size:36px; line-height:26px;  } 

.bxextalk{ padding:0 0 26px; }
.bxextalk > .tb > .c1 > .bx a{ font-size:30px; line-height:24px;  }
 
.bxirbluebtm > .tb > .c1 > .bx{ padding:20px; }
.bxirbluebtm > .tb > .c2 > .bx > .bxtxt{ padding:20px; }
.bxirbluebtm > .tb > .c2 > .bx > .bxtxt > .txthead{ font-size:22px;  }
.bxirbluebtm > .tb > .c3 > .bx > .bxtxt{  padding:26px 20px 13px;  }
.bxirbluebtm > .tb > .c3 > .bx > .bxtxt > .txth{ font-size:22px; } 
 
.slideirbx > .txthead{ font-size:22px;  }
.slideirbx > .txtdate{ font-size:20px; }
.slideirbx > .txt{ padding:39px 0; }
 

.bxiraftop{ padding:0 0 39px; }
.bxiraftop > .tb > .c2 > .bxtxt{  width:92%; }
.bxiraftop > .tb > .c2 > .bxtxt > .txth{ font-size:24px;  }
.bxiraftop > .tb > .c2 > .bxtxt > .btn{ padding:4px 20px; } 
 
.bxiraf > .bxtb > .tr{ height:39px; }
.iraf > .bx > .bxtxt{ padding:20px 16px; }
.iraf > .bx > .bxtxt > .txth{ font-size:24px; padding:0 0 13px; }
.iraf > .bx > .bxtxt > .btn{   color:#585858; padding:4px 20px; }

 
.bxirform .tr{ height:39px; }
.irformbx > .bx{ padding:20px 16px 26px; }
.irformbx > .bx > .subj{ padding:0 0 20px;  }
.irformbx > .bx > .date{ padding:0 0 26px;  }
.irformbx > .bx > .btn{ padding:4px 20px;   }
 
 
.organizbxtop{ background-size:50%; }
.organizbxbtm{ background-size:50%;   }

.structurebxtop{  background-size:50%; } 
.structurebxinner{  background-size:50%;  } 

.bxirwhite{  padding:52px 0; } 
.irboardbx{ width:30%; margin-right:5%;  margin-bottom:52px;  } 
.irboardbx > .bxtxt{  height:105px;  }
.irboardbx > .bxtxt > .bx{   padding:10px 6px; }
.irboardbx > .bxtxt > .bx > .txth{  font-size:20px; }

.irexeu-txth{   font-size:40px; line-height:20px;  }
.irtalktb > .bxr > .bxtxt{  font-size:20px; padding:20px 0 10px; }
 
 	
}



@media screen and (max-width: 900px){

.bxslidepopup{ width:45%;    }
.bxslidepopup > .tb{  border:#fff solid 12px; }
.bxslidepopup > .tb > .td > .bx{ width:92%; font-size:20px; line-height:26px;  }
 
.hprobx{ display:block; position:relative; width:100%; }
.hprobx > .bximg{ width:100%;  }
.hprobx > .bxtxt{  width:100%; }

.hprobx.even > .bximg{ float:left; }
.hprobx.even > .bxtxt{ float:left; }

.bxhrepro{ width:100%; float:left; padding:0 0 20px; } 

.footerbx > .c1{ width:50%; }
.footerbx > .c2{ width:50%; }
.footerbx > .c3{ width:100%; }

.hpro-itop img{ width:35%; }
.hpro-ibtm img{ width:35%;  }
.hprobx-txttop{ width:80%; padding:36px 0;   }

#bxhome-ir{ background:url(../../img/bg-homeir.jpg) bottom left no-repeat #073570;  }
#bxhome-reviewproj{ background-size:80%; }

.bxprojht{ padding:26px 0;  } 
.projhtbx > .l{  width:100%; float:left; padding:0 0 16px;  }
.projhtbx > .r{ width:100%; float:left;  }
.projhtbx > .r > .bxtxt{  width:100%; margin:0 auto; } 
#bxgalproj{ display:block; position:relative; width:100%; overflow:hidden; }
.bxppager{ margin:10px 0 0; }
.bxppager a{ margin:0 3px 3px 0;     }
.bxppager a > .bxthumb{  height:40px; }
.bxppager a > .bxthumb img{ height:40px;  } 

#horizontalTab{ display:block; position:relative; padding:0 0 52px; } 



.bxircg{ padding:0 16px;  }
.ircgbx{ padding:10px 20px;  } 
.ircgbx > .tb > .c1{ width:120px; }  

}

@media screen and (max-width: 640px){
  
.bxslidepopup{ display:block; position:relative; width:100%;  }
.bxslidepopup > .tb{ display:block; height:auto;  border:#fff solid 10px; }
.bxslidepopup > .tb > .td{ display:block; padding:26px 0; }
.bxslidepopup > .tb > .td > .bx{ width:92%;  } 

#bxhome-project{ background-size:40%; }
.bxhome-project{ background-size:40%;}
 
.bxhome-reviewproj{  background-size:40%;  }

.hnewsitem{ display:block; position:relative; width:100%; float:left; margin-right:0px !important; }
.clearm{ clear:both; }
.cleard{ clear:none; }

.bxnews > .bxtb{ display:block;  }
.bxnews > .bxtb > .bxtd{ display:block; width:100%;  }
.bxnews > .bxtb > .bxtdnull{ display:block;  width:100%; height:20px; }
.bxnews > .bxtb .bxtr{ display:block; clear:both; }


.bxhomeir > .desktop{ display:none; }
.bxhomeir > .mobile{ display:block; }

#bxprojhead{ padding:26px 0 12px; }
#bxprojhead > .tb{ display:block; width:92%; margin:0 auto;   }
#bxprojhead > .tb > .c1{ display:block; width:100%;  }
#bxprojhead > .tb > .c2{ display:block;   }
#bxprojhead > .tb > .c1 > .logo img{ max-height:52px; } 

#bxprojregis{ padding:26px 0;  }   
.contactbx{ margin:0 0 13px;  }
.contactbx > .l{  width:100%; margin:0 0 13px;  }
.contactbx > .r{  width:100%; }

#projconcept{  padding:26px 0;  background-size:40%; }
 
#projfacilities{ background-size:40%; } 
.projfacilities > .l{ width:100%; padding:0 0 16px; }
.projfacilities > .r{ width:100%; } 
.projfacilities > .r > .bxtxt{ width:100%;  } 

 
.projlobx-txt{ padding:16px 0;  }
.projlobx-btn{ padding:16px 0 0; }

.projgallery{ display:block; position:relative; width:100%; overflow:hidden; }
#bxgpager{  margin:10px 0 0; }
#bxgpager a{  margin:0 3px 3px 0;     }
#bxgpager a > .bxthumb{  height:32px; }
#bxgpager a > .bxthumb img{ height:32px;  }  


.projawardbx > .l{  width:100%; padding:0 0 16px;   }
.projawardbx > .r{ width:100%;  }
.projawardbx > .l > .bximg{ width:100%; }
.projawardbx > .r > .bxtxt{ width:100%; }

#projcontact{ background-size:40%; }
.bxcontact-form{ background-size:40%; }
.projcontactbx > .l{ width:100%; }
.projcontactbx > .r{ width:100%; }

a.btn-viewallpink.txtb{ width:260px; font-size:20px;  }

.bxcontact-form{  padding:39px 0;  }
 
.bxcontact-textbtm > .l{  width:100%;   }
.bxcontact-textbtm > .r{  width:100%;  } 
.bxcontact-textbtm > .r > .bx > .l{  width:100%; }
.bxcontact-textbtm > .r > .bx > .r{ width:100%; text-align:left; padding-top:20px;  }

.bxcontact-form #contactform{ width:100%;   }

.bxinner-headbx{  background-size:80%; }
.bxinner-headbx div.txt{  font-size:24px; line-height:24px;   } 

.bxpromotion{ background-size:60%;  }
.bxprominner{ background-size:60%;  }

.promobx{  width:100%; margin-right:0px; }
 
.bxpromotion-de > .bxsubj{  font-size:26px; line-height:30px;   }
.bxpromotion-de  .bximg{ padding:0 0 20px; } 

.promobx.bxbooth{ width:100%; margin-right:0%; }

.bxnews{ padding:0 0 39px; }
.bxnewstop{ padding:39px 0; }

 
.newstopbx > .l{  width:100%; padding-bottom:20px;  }
.newstopbx > .r{  width:100%;  }
.newstopbx > .r > .newstopbx-bxtxt > .bxdate{  padding:0 0 26px;  }

 
.newsdehead{ padding:39px 0 20px; }
.newsdehead > .bxsubj{ font-size:26px; line-height:26px;   }  
.newsdebx{ display:block; position:relative; padding:39px 0 62px; }
.newsdebx .bximg{ padding:0 0 20px;  }

.bxmediatop{  padding:39px 0 10px;  } 

#bxabout{ background-size:60%; padding:52px 0;  }
.bxabout{     } 
.bxabout .bxh{ font-size:30px;  padding:0 0 32px; }
.aboutbx > .l{  width:100%; padding:0 0 16px; }
.aboutbx > .r{  width:100%; }
 
.aboutbxlogo{  padding:60px 0 0;  }

.bxaboutaw{ padding:39px 0 13px; }
.aboutawbx{  padding-bottom:39px;  }
.aboutawbx > .l{ width:100%; padding:0 0 13px;  }
.aboutawbx > .r{ width:100%;  }
 
.aboutproject{ background-size:60%; padding:52px 0 100px;  }

.aboutpj-de{   padding:100px 0; background-size:60%; } 
.aboutpj-de .txth{  font-size:30px; padding:0 0 20px; }
 
 
.bxirblue{  padding:39px 0;   } 
.bxirbluetop > .bxtb{ display:block;  }
.bxirbluetop > .bxtb > .c1{ display:block; width:100%; padding:0 0 20px;  }
.bxirbluetop > .bxtb > .c2{ display:block; width:100%;  }
.bxirbluetop > .bxtb > .c1 > .bx{ width:100%;  } 

 
.bxirbluebtm > .tb{ display:block; }
.bxirbluebtm > .tb > .c1{ display:block; width:100%; margin-bottom:20px;  } 
.bxirbluebtm > .tb > .c2{ display:block; width:100%; margin-bottom:20px; }
.bxirbluebtm > .tb > .c2 > .bx > .bxtxt > .txthead{ padding:0 0 13px;  }
.bxirbluebtm > .tb > .c3{ display:block; width:100%; }
.bxirbluebtm > .tb > .cn{ display:block;  width:100%;  }


.bxiraftop > .tb{ display:block; border:#ccc solid 1px;  }
.bxiraftop > .tb > .c1{ display:block; width:100%; border:#ccc solid 0px; }
.bxiraftop > .tb > .c2{ display:block; width:100%; }
.bxiraftop > .tb > .c2 > .bxtxt{ width:auto;  padding:20px 16px;  }
 
.bxiraf .tr{ display:block; }
.bxiraf > .bxtb{ display:block;   }
.bxiraf > .bxtb > .tr{ height:0px; }
.bxiraf > .bxtb > .cn{ display:block; position:relative; width:100%; }
.iraf{ display:block;  width:100%; margin:0 0 26px;  }


.bxirsearch{ padding:0 0 26px; }
.bxirsearch > .tb{ display:block;  }
.bxirsearch > .tb > .c1{ display:block; width:100%; padding:0 0 13px; }
.bxirsearch > .tb > .c2{ display:block; width:100%; text-align:center;  }
.bxirsearch > .tb > .c1 > .bxsearch{ width:100%; } 
 
.bxirform > .bxtb{ display:block; }
.bxirform .tr{ display:block; height:0; }
.bxirform > .bxtb > .cn{ display:block; width:100%; }
.irformbx{ display:block;  width:100%; margin:0 0 26px;   }
 



.bxshareinfo-head{   font-size:24px;  } 
.shareinfobx > .tb > .tr.trhead{ line-height:16px; height:45px; }

.shareinfobx > .tb > .tr > .c1 > .bx,
.shareinfobx > .tb > .tr > .c2 > .bx,
.shareinfobx > .tb > .tr > .c3 > .bx,
.shareinfobx > .tb > .tr > .c4 > .bx{ padding:6px ; }

.organizbximg{ padding:52px 0; }
.comps img{ max-width:80%; }
.organizbxtop{ background-size:40%; }
.organizbxbtm{ background-size:40%; } 
 
.structurebxtop{  background-size:40%; } 
.structurebxinner{  background-size:40%;  } 

.bxirwhite{  padding:39px 0; } 
.irboardbx{ width:100%; margin-right:0;  margin-bottom:39px;  } 
.irboardbx > .bxtxt{  height:auto; padding:13px 10px;   }


.bxircgtxttop{ padding:0 0 26px; word-break:normal; }
.bxircg{ padding:0 12px;  }
.ircgbx{ padding:8px 10px;  }
.ircgbx > .tb{ display:block; }
.ircgbx > .tb > .c1{ display:block; width:100%; }
.ircgbx > .tb > .c2{ display:block;   }


.irexeu-txth{ font-size:32px; line-height:32px; padding:0 0 26px;  }
 
.irtalktb{ display:block;  }
.irtalktb > .bxl{ display:block; width:100%; padding:0 0 26px;  } 
.irtalktb > .bxr{ display:block; width:100%;  }
.irtalktb > .bxr > .bxtxt{ padding:0 0 26px; } 

.irbxtalkbtm{  padding:26px 0 0; } 



}


@media screen and (max-width: 480px){

.bxpager > .txt ul li.one{ float:left; width:48.5%; margin:0;  }
.bxpager > .txt ul li.two{ float:right; width:48.5%; margin:0; } 
.bxpager > .txt ul li img{ width:80%; } 
 
 

}

@media screen and (max-width: 360px){

#projnav > .tb > .c1 > .txt > span{ display:block; word-break:keep-all; }

.bxppager a{ margin:0 2px 2px 0;     }
.bxppager a > .bxthumb{  height:36px; }
.bxppager a > .bxthumb img{ height:36px;  } 
 

}




















