﻿/*img {
-webkit-filter: grayscale(40%); 
filter: grayscale(40%);
}
html {
-webkit-filter: grayscale(40%);
}*/

body,td,th {
	font-family: Tahoma, sans-serif;
	font-size: small;
	color: #000000;
}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url();
}
a:link {
	color: #666666;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #666666;
}
a:hover {
	text-decoration: none;
	color: #000099;
}
a:active {
	text-decoration: none;
	color: #000099;
}
A.L:link {
	COLOR: #000066; TEXT-DECORATION: none;
}
A.L:visited {
	COLOR: #000066; TEXT-DECORATION: none;
}
A.L:active {
	COLOR: #FF6600; TEXT-DECORATION: none;
}
A.L:hover {
	COLOR: #FF6600; TEXT-DECORATION: none;
}
A.M:link {
	COLOR: #000066; TEXT-DECORATION: none;
}
A.M:visited {
	COLOR: #000066; TEXT-DECORATION: none;
}
A.M:active {
	COLOR: #FF6600; TEXT-DECORATION: underline;
}
A.M:hover {
	COLOR: #FF6600; TEXT-DECORATION: underline;
}

A.T:link {
	COLOR: #F4F4F4; TEXT-DECORATION: none;
}
A.T:visited {
	COLOR: #F4F4F4; TEXT-DECORATION: none;
}
A.T:active {
	COLOR: #F4F4F4; TEXT-DECORATION: none;
}
A.T:hover {
	COLOR: #99FF00; TEXT-DECORATION: none;
}

.style2 {color: #FF8A00;
	font-weight: bold;
}

.style4 {
	font-size: small;
	font-weight: bold;
}

.style5 {	color: #009900;
	font-weight: bold;
}

.style6 {	font-size: 14px;
	font-weight: bold;
	color: #010F8C;
}

.style7{
	color: #990000;
	font-weight: bold;
}

.style8 {color: #010F8C; font-weight: bold;}


.style9 {
	color: #FFFFFF;
	font-weight: bold;
}

.style10 {font-size: x-small}

.style11{
   font-size: 18px;
	color: #010F8C;
	font-weight: bold;
	font-family: Tahoma, sans-serif;
 }

.style12 {
	color: #FF8c00;
	font-size: 18px;
	font-weight: bold;
}
.style13 {
	font-size: 18px;
	color: #000066;
	font-weight: bold;
}

 .style14 {
	font-size: 16px;
	font-weight: bold;
	color: #000066;
}
.style15 {
	font-size: 18px;
	color: #FF9900;
}

.style16 {
	color: #000066;
	font-weight: bold;
}

.style17 {
	color: #FF8C00;
	font-weight: bold;
}

.style18 {color: #000066}

.style19 {
	color: #FF0000;
	font-weight: bold;
}
.style20 {font-size: small; color: #000066; font-weight: bold; }
.style98 {font-size: 8px;
	font-style: normal;
	line-height: normal;
	font-family: "MS Sans Serif", AngsanaDSE;
	color: #333333;
}
.style192 {font-size: xx-small; font-weight: bold; }
.style102 {font-size: 12px; color: #333333; font-family: Arial, Tahoma, sans-serif; }
.style207 {	font-size: 12px;
	font-weight: bold;
	color: #330066;
}
.style215 {color: #330066; font-size: 12px;}
.style217 {	font-size: 12px;
	font-weight: bold;
}
.style218 {font-size: 12px}


/*.........................Menu......................................................*/

.MenuFont{color:#FFFFFF;}
.MenuTABLE {	 
   WIDTH: 132x;   
   background-image: url("Images/menu_bg.jpg");
}
.Menu {
   WIDTH:132px;  
	/*PADDING-RIGHT: 4px; 
   PADDING-LEFT: 6px;*/
   PADDING-BOTTOM: 6px; 
   PADDING-TOP: 4px;
   DISPLAY: block;   
   FONT-SIZE: 8pt;
   font-weight: bold;  
   COLOR: #000066;   
   FONT-FAMILY: bold 8pt Verdana;   
   TEXT-ALIGN: Left;      
   BORDER-BOTTOM: #E1E0E0 1px solid;    
}

.SubMenuTABLE {	    
   WIDTH: 132px;     
   BACKGROUND: #E8E8E8;  
   BORDER-RIGHT: #E1E0E0 1px solid;   
   BORDER-LEFT: #E1E0E0 1px solid;   
   BORDER-TOP: #E1E0E0 1px solid;   
   BORDER-BOTTOM: #E1E0E0 1px solid; 
}
.SubMenu {
  WIDTH: 132px;  
	/*PADDING-RIGHT: 4px; 
   PADDING-LEFT: 14px;*/
   PADDING-BOTTOM: 6px; 
   PADDING-TOP: 4px;
   DISPLAY: block;   
   FONT-SIZE: 8pt;
   font-weight: bold;  
   COLOR: #000066;   
   FONT-FAMILY: bold 8pt Verdana;   
   TEXT-ALIGN: Left;      
   BORDER-BOTTOM: #E1E0E0 1px solid;  
}

.MenuMouseOver {
   WIDTH: 132px;  
	/*PADDING-RIGHT: 4px; 
   PADDING-LEFT: 6px;*/
   PADDING-BOTTOM: 6px; 
   PADDING-TOP: 4px;
   BACKGROUND: #E8E8E8;
   DISPLAY: block;   
   FONT-SIZE: 8pt;
   font-weight: bold;  
   COLOR: #FF6600;   
   FONT-FAMILY: bold 8pt Verdana;   
   TEXT-ALIGN: Left;      
   BORDER-BOTTOM: #E1E0E0 1px solid;    
  TEXT-DECORATION: none;
  cursor:hand;
}

.SubMenuMouseOver {
   WIDTH: 132px;  
	/*PADDING-RIGHT: 4px; 
   PADDING-LEFT: 14px;*/
   PADDING-BOTTOM: 6px; 
   PADDING-TOP: 4px;
   BACKGROUND: #F4F4F4;
   DISPLAY: block;   
   FONT-SIZE: 8pt;
   font-weight: bold;  
   COLOR: #FF6600;   
   FONT-FAMILY: bold 8pt Verdana;   
   TEXT-ALIGN: Left;      
   BORDER-BOTTOM: #E1E0E0 1px solid;    
  TEXT-DECORATION: none;
  cursor:hand;
}

/*...................................................... Add style sheet By Bowl ......................................................*/
.styleListedShare {
   color: #FF8A00;
   font-weight: bold;
}
.styleTitleTable {
	color: #FFFFFF;
	font-weight: bold;
}
.styleListedShareTable {
   color: #FF8C00; 
   font-weight: bold; 
}

.style_font_page{
   font-size: xx-small; 
   font-family: "MS Sans Serif", AngsanaDSE; 
 }
.vedioLink{color: #FF6600; font-weight: bold;}
a.detail:link {
	color: #000066;
	text-decoration: none;
}
a.detail:visited {
	text-decoration: none;
	color: #000066;
}
a.detail:hover {
	text-decoration: none;
	color: #FF6600;
}
a.detail:active {
	text-decoration: none;
	color: #FF6600;
}
.bgcolor_space{background-color:#01118D;}
/*.......................................... No Information ............................................*/
.bgcolor_no_information{background-color: #FFFFFF;}
.no_information{
   font-family: "Microsoft Sans Serif", AngsanaUPC;
	color: #FF0000; 
}
/* ............................................. IR Calendar  ............................................. */
.fontEvent_T {
	color: #666666;
}
.fontEvent_E {
	color: #000000;
}
.fontLocation_T {
	color: #666666;
}
.fontLocation_E {
	color: #000000;
}
.fontRelateInfo_T {
	color: #666666;
}
.fontRelateInfo_E {
	color: #000000;
}
.bgcolor_calendar1{background-color:#EAEDED;}
.bgcolor_calendar2{background-color:#082489;}
.bgcolor_calendar3{background-color:#FFFFFF;}
.bgcolor_calendar4{background-color:#01118D;}
/* ...................................... Set Announcement  ...................................... */
.bgcolor_announcement1{background-color:#EAEDED;}
.bgcolor_announcement2{background-color:#082489;}
.bgcolor_announcement3{background-color:#FFFFFF;}
.bgcolor_announcement4{background-color:#01118D;}
/* .......................................... News Update ............................................ */
.bgcolor_newsupdate1{background-color:#EAEDED;}
.bgcolor_newsupdate2{background-color:#082489;}
.bgcolor_newsupdate3{background-color:#FFFFFF;}
.bgcolor_newsupdate4{background-color:#01118D;}
/* .......................................... Public Relation ......................................... */
.bgcolor_public1{background-color:#EAEDED;}
.bgcolor_public2{background-color:#082489;}
.bgcolor_public3{background-color:#FFFFFF;}
.bgcolor_public4{background-color:#01118D;}
/* .......................................... Press Release .......................................... */
.bgcolor_press1{background-color:#082489;}
.bgcolor_press2{background-color:#FFFFFF;}
.bgcolor_press3{background-color:#01118D;}
.bgcolor_press4{background-color:#EAEDED;}
/* .......................................... IPO Movement .......................................... */
.bgcolor_ipo1{background-color:#082489;}
.bgcolor_ipo2{background-color:#FFFFFF;}
.bgcolor_ipo3{background-color:#01118D;}
.bgcolor_ipo4{background-color:#EAEDED;}
/* .......................................... MANAGEMENT'S LIFESTYLE .......................................... */
.bgcolor_lifestyle1{background-color:#082489;}
.bgcolor_lifestyle2{background-color:#FFFFFF;}
.bgcolor_lifestyle3{background-color:#01118D;}
.bgcolor_lifestyle4{background-color:#EAEDED;}
/* .......................................... CG ON STAGE .......................................... */
.bgcolor_onstage1{background-color:#082489;}
.bgcolor_onstage2{background-color:#FFFFFF;}
.bgcolor_onstage3{background-color:#01118D;}
.bgcolor_onstage4{background-color:#EAEDED;}
/* .......................................... INSIGHT IPO .......................................... */
.bgcolor_insight1{background-color:#082489;}
.bgcolor_insight2{background-color:#FFFFFF;}
.bgcolor_insight3{background-color:#01118D;}
.bgcolor_insight4{background-color:#EAEDED;}
/* .......................................... investor station .......................................... */
.bgcolor_invstaion1{background-color:#79BCFF;}
.OnSelectedEmbed
{
	font-family:'MS Sans Serif';
	font-size: 12px;
	color:White;
	background-color :#316AC5;
	border :1;
	border-color :#7F9DB9;		
	border-style:solid;   
}
.OnblurEmbed
{
	font-family:'MS Sans Serif';
	font-size: 12px;
}
/* .......................................... E-Mail Alert .......................................... */
.styleEMail {color: #FF8C00; font-weight: bold; }
.bgcolor_alert1{background-color:#EAEDED;}
.bgcolor_alert2{background-color:#082489;}
.bgcolor_alert3{background-color:#F4F4F4;}
.bgcolor_alert4{background-color:#FFFFFF;}
.bgcolor_alert5{background-color:#000066;}
/* .......................................... Inquiry Form .......................................... */
.bgcolor_inquiry1{background-color:#F0F0F0;}
.bgcolor_inquiry2{background-color:#F4F4F4;}
.bgcolor_inquiry3{background-color:#FFFFFF;}
.bgcolor_inquiry4{background-color:#000066;}
.bgcolor_inquiry5{background-color:#FF9900;}

/* .......................................... Job Request 09-12-0018 .......................................... */
A.B:link {COLOR: #000000; TEXT-DECORATION: none;}
A.B:visited {COLOR: #000000; TEXT-DECORATION: none;}
A.B:active {COLOR: #000099; TEXT-DECORATION: none;}
A.B:hover {COLOR: #000099; TEXT-DECORATION: none;}
A.C:link {COLOR: #000000; TEXT-DECORATION: none;}
A.C:visited {COLOR: #000000; TEXT-DECORATION: none;}
A.C:active {COLOR: #FF6600; TEXT-DECORATION: none;}
A.C:hover {COLOR: #FF6600; TEXT-DECORATION: none;}
A.D:link {COLOR: #FF8A00; TEXT-DECORATION: none;}
A.D:visited {COLOR: #FF8A00; TEXT-DECORATION: none;}
A.D:active {COLOR: #000099; TEXT-DECORATION: none;}
A.D:hover {COLOR: #000099; TEXT-DECORATION: none;}

/* .......................................... ADD BY BOWL 09-06-2010  .......................................... */
a.service:link {
	color: #000066;
	text-decoration: none;
}
a.service:visited {
	text-decoration: none;
	color: #000066;
}
a.service:hover {
	text-decoration: none;
	color: #FF6600;
}
a.service:active {
	text-decoration: none;
	color: #FF6600;
}
/* .......................................... ADD BY BOWL 08-07-2010  .......................................... */
.styleDateDetailCorInfo{color: #666666; font-size: 11px;}

/* .......................................... ADD BY BOWL 04-08-2010  .......................................... */
.styleBoderBanner{BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid;}

.styleBDTopChangText{
	PADDING-RIGHT: 2px; 
	PADDING-LEFT: 4px;
	PADDING-BOTTOM: 4px; 
	PADDING-TOP: 4px;
	BORDER-RIGHT: #CCCCCC 1px solid; 
	BORDER-TOP: #CCCCCC 1px solid; 
	BORDER-LEFT: #CCCCCC 1px solid; 
	BORDER-BOTTOM: #CCCCCC 1px solid;
	BACKGROUND-IMAGE: url(../Images/bg_bar_gray.gif);
}
/* .......................................... ADD BY BOWL 16-01-2012  .......................................... */
.rate_widget {
    border:     0px solid #FFFFFF;
    overflow:   visible;
    padding:    0px;
    position:   relative;
    width: 		100px;
    height: 	15px;
}
.ratings_stars {
    background: url('../Images/star_empty_new.png') no-repeat;
    float:      left;
    height:     15px;
    padding:    0px;
    width:      20px;
}
.ratings_vote {
    background: url('../Images/star_full_new.png') no-repeat;
}

a.unsubscribe:link {
	color: #E1E8FF;
	text-decoration: none;
	font-size:11px;
}
a.unsubscribe:visited {
	text-decoration: none;
	color: #E1E8FF;
	font-size:11px;
}
a.unsubscribe:hover {
	text-decoration: none;
	color: #9BB1FF;
	font-size:11px;
}
a.unsubscribe:active {
	text-decoration: none;
	color: #E1E8FF;
	font-size:11px;
}